{% extends "bootstrap/base.html" %}

{% block styles -%}
{{super()}}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock styles %}



{% block content %}
{{super()}}
<div class="container">
	<div class="py-5 text-center">
		<div class="w-25 mx-auto p-2">
		{% include 'logo.svg' %}
		</div>
		<h2 class="py-2">Pragmatic Approach</h2>
	</div>
	<div class="row">
		<div class="col-sm-3">
			{{ app.extensions['bootstrap']['cdns'] }}
		</div>

		<div class="col-sm-9">
		</div>
	</div>


	<div class="row">

		<table>
			<tbody>
				<tr>
					<td>63</td>
				</tr>
			</tbody>
		</table>
	</div>



</div>

{% endblock  %}



