{% extends "bootstrap/base.html" %}

{% block styles -%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>

.kp-cell
{
	width: 20vmin;
	height: 20vmin;
}

.kp-button
{
	font-size: 8vmin;
}

html,body {
	/* Fill the screen */
	height:100%;
}

</style>

{% endblock  %}

{% block content %}
{{super()}}

<div class="container h-100 py-5">
	<div class="d-flex flex-column justify-content-center border">
		{% for rw in [[1,2,3],[4,5,6],[7,8,9],["C",0,"E"]] %}
		<div class="d-flex flex-row justify-content-center">
			{% for co in rw %}
			<div class="kp-cell">
				<button type="button" class="btn btn-light w-100 h-100 kp-button">{{ co }}</button>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

{% endblock  %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>

'use strict';

(function(){
})();

</script>
{% endblock scripts %}




