{% extends "bootstrap/base.html" %}

{% block styles -%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="/static/table.css" >

{% endblock styles %}


{% macro group_info() %}
<div class="card group-info mx-2 mb-4 grow" >
	<div class="card-header group-title" data-toggle="modal" data-target="#editer"></div>
	<div class="text-monospace card-body group-data" ></div>
</div>
{% endmacro %}


{% macro grouped_bits() %}
<div class="bits-group bd-highlight d-flex flex-row xs mr-1 mb-1 grow"></div>
{% endmacro %}

{% block content %}
{{super()}}

<div class="container">
	<div id="editer" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
					<input id="editbox" type="text" class="form-control" placeholder="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="update_name" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="card mt-5 mb-3">
		<div class="card-header d-flex justify-content-center bigval text-monospace" id="bigval" data-toggle="modal" data-target="#editer">
		</div>
		<div id="bitfield" class="card-body" >
			<div class="d-flex flex-row bd-highlight mb-3 flex-wrap text-center justify-content-start">
				{% for n in nums %}
				<div data-bit={{n}} class="small text-monospace bits mb-1">{{ n }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="groups" class="d-flex flex-row flex-wrap justify-content-around">
	</div>
</div>

{% endblock  %}


{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/static/underscore.string.min.js"></script>
<script src="/static/node_modules/sprintf-js/dist/sprintf.min.js"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script>


'use strict';

(function(){

	var start = null;
	var groups = [];

	function do_update(){

		var n = BigInt(0);
		var t = $("#bigval");
		var bs = $(".bits.set");
		
		bs.each( function(e) {
			n += BigInt(1) << BigInt($(this)[0].bit);
		});

		var register = n;

		t.html("0x" + n.toString(16).toUpperCase() );

		var grps = $(".group-info");

		grps.each( function() {
			
			var bitgroup,n;

			bitgroup = $(this)[0].bitgroup;
			n = register;
			n = n >> BigInt( bitgroup.lastChild.bit );
			n = n & BigInt( bitgroup.bit_mask );

			$(this).find(".group-title").html( bitgroup.gname + " [" + bitgroup.firstChild.bit + ":" + bitgroup.lastChild.bit + "]" );
			$(this).find(".group-data").html( "0x" + n.toString(16).toUpperCase() );
		});

		// SORT!
		grps.sort( function(a,b){

			var abit = a.bitgroup.firstChild.bit;
			var bbit = b.bitgroup.firstChild.bit;

			if ( abit < bbit )
				return 1;
			else if ( abit > bbit )
				return -1;
			else 
				return 0;
		});

		grps.detach().appendTo( $( "#groups" ) );


	}


	function get_range(a,b)
	{
		var els;

		a.bit = a[0].bit; 
		b.bit = b[0].bit;

		if ( a.bit < b.bit )
			[ a, b ] = [ b, a ];

		if ( a.bit == b.bit )
			els = a;
		else
			els = a.add( a.nextUntil( b ) ).add( b );
	
		return els;
	}
	

	function do_range(a,b){

		var bitgroup,els;

		els = get_range(a,b);

		if ( els.hasClass( "bits-group" ) ) return;

		bitgroup = $( {{ grouped_bits() |tojson|safe }} )[0];

		bitgroup.addEventListener('mousedown', function(e) { 
			e.stopPropagation();
			e.preventDefault();
		}, true);
		
		$(els[0]).before( $(bitgroup) );

		bitgroup.els = els;
		bitgroup.bit_mask = (1 << els.length) - 1; 
		bitgroup.gname = "GRP";

		els.appendTo( bitgroup );

		var gi = $( {{ group_info()|tojson|safe }} ).appendTo( $("#groups") );
		gi[0].bitgroup = bitgroup;
		gi.click( function () {
			var bitgroup = $(this)[0].bitgroup;
			$("#editbox")[0].obj = function(a){
				if(a) bitgroup.gname = a;
				else return bitgroup.gname;
			};
		});
		bitgroup.gi = gi;

		do_update();
		
	}

	var bits = $(".bits");

	bits.click(function () {
		$(this).toggleClass("set");
		do_update();
	});

	bits.mouseenter(function () {
		// Highlight all the bits between "start" and here
		if (start)
		{
			var els = get_range( start, $(this) );
			var bits = $(".bits.bits-grouping");
			
			els.addClass("bits-grouping");
			bits.not( els ).removeClass("bits-grouping");

		}
	});

	bits.mousedown(function (e){
		if (e.shiftKey)
			start = $(this);
	});

	$(document).mouseup( function (){
		if (start)
		{
			$(".bits.bits-grouping").removeClass("bits-grouping");
			start = null;
		}
	});
	
	bits.mouseup( function (){
		console.log("MOUSEUP");
		if (start)
		{
			$(".bits.bits-grouping").removeClass("bits-grouping");
			do_range( start, $(this) );
			start = null;
		}
	});

	bits.each( function(){
		$(this)[0].bit = parseInt( $(this).data('bit') );
	});

	var edit = $("#editer");
	var editbox = $("#editbox");
		
	edit.on('show.bs.modal', function(){
		// Prepopulate the INPUT BOX with the group name
		editbox.val( editbox[0].obj() );
	});
	
	edit.on('shown.bs.modal', function(){
		editbox.focus();
	});

	edit.keypress( function(e){
		var kc = (e.keyCode ? e.keyCode : e.which );
		if ( kc == '13' ){
			$("#update_name").trigger( 'click' );
			console.log("Enter");
		}
	});

	edit.find("#update_name").click( function(){
		editbox[0].obj( editbox.val() );
		do_update();
	});

	function do_newval(v){
		// Set all the appropirate bits...

		if (!v) return $("#bigval").val();

		console.log("Set new value " + parseInt(v));

		var n = BigInt( parseInt(v) );
		var i;
		var bits = $('.bits');

		for ( i=0; i<64; i++ )
		{
			if ( n & BigInt(1) )
				$(bits[63-i]).addClass( "set" );
			else
				$(bits[63-i]).removeClass( "set" );

			n >>= BigInt(1);
		}

		do_update();

	}

	$("#bigval").click( function(){
		$("#editbox")[0].obj = do_newval; 
	});

	$("#bitfield").on( " mouseleave mouseenter", ".bits-group", function(e){ 
		$(this).add(this.gi).toggleClass("grow shrink");
	});
	$("#groups").on( " mouseleave mouseenter", ".group-info", function(e){ 
		$(this).add(this.bitgroup).toggleClass("grow shrink");
	});

	do_update();
})();

</script>
{% endblock scripts %}




